@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Green-200: hsl(148, 38%, 91%);
    /* (lighter) */
    --Green-600: hsl(169, 82%, 27%);
    /* (medium) */
    --Green-900: hsl(169, 82%, 15%);
    /* (darker) */
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    /* (medium) */
    --Grey-900: hsl(187, 24%, 22%);
    /* (darker) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--Green-200);
    font-family: "Karla", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
}

.toast {
    position: fixed;
    top: 30px;
    width: 400px;
    background-color: var(--Grey-900);
    padding: 20px;
    border-radius: 10px;
    color: var(--White);
    font-size: 14px;
    transition: all 1s linear;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        img {
            width: 14px;
        }

        span {
            font-weight: bold;
        }
    }

    &.hidden {
        transform: translateY(-400px);
    }
}

.container {
    width: 650px;
    padding: 30px;
    margin: 50px 0;
    background-color: var(--White);
    border-radius: 15px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .form-group {
            width: 100%;
        }

        .name-inputs {
            display: flex;
            gap: 10px;

            input {
                width: 100%;
            }
        }

        label {
            font-size: 14px;
        }

        input:not([type="checkbox"]):not([type="radio"]) {
            border: 1px solid var(--Grey-500);
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
            margin: 8px 0;
            width: 100%;
            cursor: pointer;

            &:hover,
            textarea:hover {
                border: 1px solid var(--Green-600);
            }

            &:focus,
            textarea:focus {
                outline: 1px solid var(--Green-600);
            }
        }

        textarea {
            width: 100%;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
            resize: none;
            margin: 8px 0;
            border: 1px solid var(--Grey-500);
            cursor: pointer;
        }

        #query {
            display: flex;
            gap: 10px;
            margin: 8px 0;

            .query-type {
                border: 1px solid var(--Grey-500);
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                display: flex;
                gap: 10px;

                label,
                input,
                & {
                    cursor: pointer;
                }

                .radio-selected {
                    background-color: var(--Green-200);
                    border: 1px solid var(--Green-600);
                }
            }

            @media screen and (max-width: 400px) {
                flex-wrap: wrap;
            }
        }

        input[type=radio] {
            accent-color: var(--Green-600);
        }

        h1 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        button {
            font-weight: bold;
            color: var(--White);
            background-color: var(--Green-600);
            padding: 15px 0;
            border-radius: 5px;
            border: 1px solid var(--Grey-900);
            margin-top: 8px;
            cursor: pointer;

            &:hover {
                background-color: var(--Green-900);
            }
        }

        .checkbox {
            >div {
                display: flex;
                margin-bottom: 8px;
                gap: 10px;
                align-items: center;

                input[type=checkbox] {
                    accent-color: var(--Green-600);
                    width: 15px;
                }
            }
        }

        span.error {
            font-size: 14px;
            display: block;
            color: var(--Red);
        }

        span.hidden {
            display: none;
        }
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 300px;
    }

    .name-inputs {
        flex-wrap: wrap;
    }

    #query {
        flex-wrap: wrap;
    }

    .toast {
        width: 300px;
    }
}